<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href = "~/" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <!-- Syncfusion theme styles -->
    <link id="theme-link" rel="stylesheet" href="https://cdn.syncfusion.com/ej2/32.1.19/tailwind.css" />
    <!-- Syncfusion ASP.NET Core controls script -->
    <script src="https://cdn.syncfusion.com/ej2/32.1.19/dist/ej2.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <!-- Monaco Editor -->
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.34.1/min/vs/loader.js"></script>
</head>
<body>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/json-diagram-parser.js" asp-append-version="true"></script>
    <script src="~/js/diagram-node-defaults.js" asp-append-version="true"></script>
    <script src="~/js/utilities.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <ejs-scripts></ejs-scripts>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
